ARCHS = arm64
ALWAYS_SEARCH_USER_PATHS = NO
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
CURRENT_PROJECT_VERSION = 34
ENABLE_HARDENED_RUNTIME = YES
ENABLE_USER_SCRIPT_SANDBOXING = NO
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Lumi/Resources/Info.plist
LUMI_PRODUCT_VERSION = 0.4.0-dev-34
MACOSX_DEPLOYMENT_TARGET = 15.0
MARKETING_VERSION = 0.4.0
SUPPORTED_PLATFORMS = macosx
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_EMIT_LOC_STRINGS = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_VERSION = 6.0
