IPHONEOS_DEPLOYMENT_TARGET = 18.0
SWIFT_VERSION = 6.0
LUMI_REMOTE_PRODUCT_VERSION = 0.1.0-dev-10
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 10
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = LumiRemote/Resources/Info.plist
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
CODE_SIGN_ENTITLEMENTS = LumiRemote/Resources/LumiRemote.entitlements
TARGETED_DEVICE_FAMILY = 1
SUPPORTS_MACCATALYST = NO
SWIFT_STRICT_CONCURRENCY = complete
